POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=catalogo_productos
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Generar con: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=generar_una_clave_larga_aleatoria_de_32_bytes_o_mas
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
